<header class="header">
    <div class="language-ctn">

<!--         <button class="language-btn"> -->
            <img  src="../../../assets/spain.png" class="spain-flag">
 <!--        </button> -->
<!--         <button class="language-btn"> -->
            <img src="../../../assets/uk.png" class="uk-flag">
<!--         </button> -->
    </div>
    <div>
    <img class="logo-img" src="../../../assets/logo.png" alt="">
    </div>
    <div class="btn-ctn">
        <button>Inicio</button>
        <button>Faq</button>
        <button>Contacto</button>
        <button>Sobre mi </button>
    </div>
</header>
