<section>
 
    <div class="game-ctn" >

        <div class="screen-ctn">
            <div class="text">
                <p>{{currentQuestion.question}}</p>
            </div>
            
        </div>
        <div class="answer-ctn">
            <div class="answers"  >
              
                <button class="answer-button"   (click)="submitAnswer(option)" *ngFor="let option of currentQuestion.options , let index=index" >
                    <p id="{{index}}">{{option.description}}</p>
                    
                </button>
             
                <div>
                    <p ></p>
                </div>
            
        </div>
        </div>
        <div class="powerups-ctn">
            <button>50%50</button>
            <button>-2</button>
            <button>Publico</button>
        </div>
    </div>
</section>