<section>
 
    <div class="game-ctn" >

        <div class="screen-ctn">
            <div class="text">
                <p>{{currentQuestion.question}}</p>
            </div>
            
        </div>
        <div class="answer-ctn">
            <div class="answers" >
                <div (click)="submitAnswer(option)" *ngFor="let option of currentQuestion.options" >
                    <p >{{option}}</p>
                </div>
            
        </div>
        </div>
        <div class="powerups-ctn">
            <button>50%50</button>
            <button>-2</button>
            <button>Publico</button>
        </div>
    </div>
</section>