<section>
    <-
    <div class="game-ctn" >

        <div class="screen-ctn">
            <div class="text">
                <p>¿Duko?</p>
            </div>
            
        </div>
        <div class="answer-ctn">
            <div class="answers">
                <p>Seee</p>
                <p>Se</p>
                <p>nOOO</p>
        </div>
        </div>
        <div class="powerups-ctn">
            <button>50%50</button>
            <button>-2</button>
            <button>Publico</button>
        </div>
    </div>
</section>